<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/index.css" rel="stylesheet" type="text/css">
    <title>Index</title>
</head>
<body>
    <div class="overlay"></div>
    <div id="modal-content">
        <div class="modal-header">
            <h4>Quotes by Nanase Haruka</h4>
        </div>
        <div class="modal-body">
            <p>I've seen this before, this sensation.
                I get in now, this is what I wanted-no need to reply on or work with other people.
                I want to drift through the water alone in silence.
            </p>
        </div>
        <div class="btn">
            <a href="/pageCount" id="btn" class="free">Free!</a>
            <a href="/pageTimer" id="btn" class="know">I don't Know</a>
        </div>
    </div>
</body>
</html>